.profile-image-container {
    position: relative;
    display: inline-block;
    left: -480px;
    top: 50px;
}

.status-ring {
    position: absolute;
    top: -55px; 
    left: -290px;
    width: 240px;
    height: 240px; 
    border-radius: 50%;
    border: 5px solid transparent;
    background-image: linear-gradient(45deg, #F58529, #F77737, #D62976, #962FBF, #4E54C8, #2B59C3);
    background-size: 400% 400%;
    animation: ring-animation 6s ease infinite;
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.8), 0 0 30px rgba(255, 20, 147, 0.8); 
}

@keyframes ring-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* for the navigation of careers */
.titles
{
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: -100px;
    margin-left: 40%;
}

li{
    transition: transform .2s;

}

li:hover
{
    transform: scale(1.1    );
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.profile-username {
    margin-top: 5px; 
    margin-right:-100px;
    text-align: center;
}
.username
{
   position: relative;
   margin-top: 120px;
   top: -129px;
   left: -269px;

}
.follow-button,
.share-button {
    position: relative;
    top: -120px;
    right: 300px;
    padding: 5px 15px;
    border: 1px solid #dbdbdb;
    background-color: #0095f6;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.follow-button:hover,
.share-button:hover {
    background-color: #007bb5;
}

.profile-stats {
    display: flex;
    justify-content: center;
    position: relative;
    top: -190px;
    right: 300px;
    gap: 15px;
    margin-top: 10px;
    margin-right: -100px;
}

.profile-bio {
    margin-top: 10px;
    text-align: center;
    width: 600px;
    position:relative;
    margin-left: -80px;
    top: -150px;
    word-break: break-all;
}

.grid-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 190px;
    margin-left: 10px;
}

.grid-posts img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

@media (max-width: 768px) {
    .profile-header {
        align-items: center;
    }

    .profile-image {
        margin-bottom: 15px;
    }
}

.profile-posts
{
    position: relative;
    top: -35px;
}
.dark-mode {
    background-color: #121212;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #000;
}
